<div class="container-block">
    <div class="update-credentials-container">

        <div class="credentials-vector-container">
            <div class="vector-banner">
                <img src="../../../../assets/images/forgot_password.svg" width="100%" height="100%">
            </div>
        </div>
        <div class="update-container">
            <div class="form" *ngIf="!showSuccess">
                <form [formGroup]="updateCredentials">
                    <h2>Reset <br>Your Password?</h2>

                    <br>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label class="field-content"> Enter your Email</mat-label>
                        <mat-icon matPrefix class="field-icon">mail</mat-icon>
                        <input matInput placeholder="datasee@gmail.com" name="email" formControlName="email" required>
                        <mat-error *ngIf="hasError('email', 'required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="hasError('email', 'pattern')">
                            Email Id is not valid
                        </mat-error>
                    </mat-form-field>

                    <div class="email-confirmation" *ngIf="showLoader">
                        <div class="loader">
                            <img src="./assets/loader/Spinner-1s-200px (1).gif" width="100%" height="100%">
                        </div>
                        <div class="loader-text">
                            Confirming your email....
                        </div>
                    </div>

                    <button mat-raised-button color="primary" class="p-1 w-100 fill-btn" [disabled]="!updateCredentials.valid" (click)="confirmEmail()">Confirm Email</button>


                </form>
            </div>

            <div class="form" *ngIf="showSuccess">
                <h2>Reset <br>Password Initiated</h2>

                <p>Please check your <b style="letter-spacing: 1px; color: #505050;">{{ updateCredentials.value.email }}</b> to reset your password.</p>
                <br>

                <button mat-stroked-button color="primary" (click)="showSuccess = false">Wrong Email?</button>

            </div>
        </div>

    </div>
</div>