.container-block {
    background-color: #f7f7f7;
    padding: 5% 15%;
    height: 100%;
    width: 100%;
}

.update-credentials-container {
    display: inline-block;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    height: 100%;
    position: relative;
}
.field-content{
   font-family: 'Montserrat', Helvetica, sans-serif;

}
input{
   font-family: 'Montserrat', Helvetica, sans-serif;

}

.update-credentials-container .credentials-vector-container {
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
}

.credentials-vector-container .vector-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.update-credentials-container .update-container {
    float: right;
    width: 50%;
    position: relative;
    height: 100%;
}

.update-container .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.form h2 {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1.5px;
   font-family: 'Montserrat', Helvetica, sans-serif;
   color: #333;
}

.fill-btn {
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.email-confirmation {
    padding: 10px 0px;
    font-size: 12px;
    display: inline-block;
   font-family: 'Montserrat', Helvetica, sans-serif;
   width: 100%;
}

.email-confirmation .loader {
    width: 10%;
    float: left;
}

.email-confirmation .loader-text {
    width: 90%;
    float: right;
    position: relative;
    top: 8px;
}

@media only screen and (max-width: 900px) {
    .credentials-vector-container {
        display: none !important;
    }
    .update-credentials-container {
        padding: 15px !important;
        display: block !important;
    }
    .container-block {
        padding: 30px !important;
    }
    .update-container {
        width: 100% !important;
    }
    .email-confirmation .loader {
        width: 5% !important;
    }
    .email-confirmation .loader-text {
        width: 95% !important;
        top: 4px !important;
    }
}

@media only screen and (max-width: 600px) {
    .email-confirmation .loader {
        width: 10% !important;
    }
    .email-confirmation .loader-text {
        width: 90% !important;
        top: 8px !important;
    }
    .container-block {
        padding: 10px !important;
    }
    .form {
        width: 100% !important;
    }
}