<!-- <div class="container-fluid pt-4">
    <div class="title">Hi!..<br>How Can we Help You?</div>
    <div class="row">
        <div class="col-md-5">
            <img src="../../assets/images/faq.svg" class="faq-img">
        </div>
        <div class="col-md-7">
            <div class="faq-content">

            </div>
        </div>
    </div> -->


<div class="container pt-5">

    <div class="faq-title">
        Frequently Asked Questions<br>
        <div class="underline"></div>
    </div>

    <div class="faq-content">

        <div class="faq-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-container">
                        <img src="./assets/images/faq.svg" class="faq-img" width="100%" height="100%">
                    </div>
                </div>
                <div class="col-md-8">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-family: 'Montserrat', Helvetica, sans-serif;">
                                    How to compare historical data with current data?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Health History - To view the health history option for a year on year data, click the Analytics icon in the menu bar and navigate to the health history tab.
                            </p>
                            <p>Compare Section - To compare two different years data, click on the compare icon in the menu bar and select the required year for comparison.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-family: 'Montserrat', Helvetica, sans-serif;">
                                    How to view block/inverter wise defects?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>On the map page, click on the inverter icon in the menu bar and type block number to view block/Inverter wise data.</p>
                            <p>Inverter wise Analysis - To view the Inverter/block-wise analysis click the Analytics icon in the menu bar and navigate to the inverter/block-wise analysis tab. </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-family: 'Montserrat', Helvetica, sans-serif;">
                                    How to view data of different years of the same project?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>In the all project tab, click on the date section and select the required year date.</p>
                            <p>On the map page, click on the date section and select the required date at the right top corner.
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-family: 'Montserrat', Helvetica, sans-serif;">
                                    How to overlay thermal and CAD data in the map?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Click the Layout tab at the right bottom corner of the Map page and select the thermal and CAD for overlay.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-family: 'Montserrat', Helvetica, sans-serif;">
                                    How to mark out Area of Interest?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Click on the tools at the right top corner of the map to draw the required area of interest.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="font-family: 'Montserrat', Helvetica, sans-serif;">
                                    How to download a project report?
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>After selecting the required project, click on the download icon at the left button corner of the menu bar.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>


    </div>

    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit eos, repellat natus quisquam, dolorem voluptatem repellendus sint, molestiae aspernatur illo eveniet. Ipsam quis repudiandae praesentium fuga beatae voluptas esse.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At perferendis, cupiditate temporibus possimus perspiciatis aspernatur magni in praesentium, nemo rem placeat! Ducimus, corrupti ratione. Maiores cupiditate nihil totam eum nobis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quaerat rem nesciunt ab. Eaque porro sequi illum perspiciatis, adipisci autem rem illo, velit soluta ipsa inventore eius, quam aliquid. Aut?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore unde provident voluptas officia dolorem inventore labore laborum omnis laudantium eos. Aliquam placeat tempora libero laudantium quisquam explicabo repellat consequuntur a!
    </p> -->
</div>




<!-- <div class="faq-content">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How to change your password?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem vero quo neque? Voluptatem, quis voluptatum. Odit, nostrum quod saepe laudantium, ex mollitia temporibus, quam quasi numquam ut obcaecati? Veritatis, sed!</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How to create your project?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum qui eius dicta voluptatibus officiis ab, quam minus magni! Doloribus assumenda sint totam voluptate voluptatibus quod accusantium maiores excepturi voluptatem.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How to change plans?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum qui eius dicta voluptatibus officiis ab, quam minus magni! Doloribus assumenda sint totam voluptate voluptatibus quod accusantium maiores excepturi voluptatem.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How to change name?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum qui eius dicta voluptatibus officiis ab, quam minus magni! Doloribus assumenda sint totam voluptate voluptatibus quod accusantium maiores excepturi voluptatem.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How to change project Name?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum qui eius dicta voluptatibus officiis ab, quam minus magni! Doloribus assumenda sint totam voluptate voluptatibus quod accusantium maiores excepturi voluptatem.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Ask for help?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum qui eius dicta voluptatibus officiis ab, quam minus magni! Doloribus assumenda sint totam voluptate voluptatibus quod accusantium maiores excepturi voluptatem.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
     -->
