<!-- 
<div class="exam ml-3" >
       <mat-expansion-panel style="z-index: 1000; ">
            <mat-expansion-panel-header>
                <mat-panel-title class="menu-header">
                    Date
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="details-section">
              <button mat-button class="btn view-btn w-100" *ngFor="let date of date_inv; let i = index" [value]="date" (click)="ViewMenu(date)" id="Date{{i}}">{{date}}</button>              
          </div>
    </mat-expansion-panel>

    
</div> -->
