.form-fields {
    position: relative;
    margin-top: 60px;
    padding: 10px 20px;
}

.login-card {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 35%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: -1px 0px 6px var(--shadow);
    padding: 30px 20px;
}

.user-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary);
    position: relative;
    margin: auto;
}

.user-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.info_text {
    position: relative;
    top: 10px;
    margin: auto;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
}

.login-form {
    position: relative;
    top: 20px;
    margin: auto;
    padding: 10px;
}

.field-icon {
    color: #aaa;
}

.field-content {
    margin-left: 10px;
}

.login-btn-container {
    text-align: center;
    margin-top: 20px;
}

.login-btn {
    position: relative;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    width: 160px;
    height: 50px;
    margin-bottom: 5px;
}

.forgot {
    float: right;
    color: var(--lite) !important;
    position: relative;
    top: 3px;
}

.signupbtn {
    float: right;
    color: var(--lite) !important;
    position: relative;
    top: 15px;
    left: -125px;
}

.login-text {
    color: var(--primary);
    cursor: pointer;
}

.action-container {
    display: flow-root;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0px 1em 10px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em;
}

::ng-deep input.mat-input-element {
    position: relative;
    top: -3px;
}

@media only screen and (max-width: 600px) {
    .login-card {
        width: 100% !important;
    }
}

@media only screen and (max-width: 960px) {
    .login-card {
        width: 80%;
    }
}