.container {
    margin-top: 30px;
}
:ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
    height: 70px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 5px 1px 1px #9999990d;
    z-index: 200 !important;
    width: 100%;
    position: fixed;
    padding-left: 10px;
}

.app-logo .logo {
    height: 45px;
}

.logo {
    width: 50px;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--primary);
    left: 5px;
}

.menu-section {
    position: absolute;
    right: 30px;
}

.menu-section .quick-menu {
    display: inline-block;
    height: 100%;
}

.menu-section .icon-category {
    position: relative;
    top: 8px;
}

.menu-section .icon-category .account {
    font-size: 13px !important;
}

.menu-section .icon-category .account .menu-btn {
    font-size: 14px !important;
}

.menu-toggle {
    position: absolute;
    right: 15px;
}

.sidemenu-header {
    padding: 10px 12px;
}

.menu-icon {
    font-size: 18px;
}

.menu-text {
    top: -2px;
    left: 6px;
    font-size: 14px;
    position: relative;
}

.border-btn {
    border: 1px solid;
}

.user-details {
    position: relative;
    display: inline-block;
}

.user-details .user-avatar {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    border-radius: 50%;
    border: none;
    position: relative;
    display: inline-block;
}

.user-avatar .username-f-letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    text-transform: uppercase;
}

.user-details .user-info {
    display: inline-block;
    margin-left: 15px;
}

.user-info .username {
    position: relative;
    top: 10px;
    letter-spacing: 0.5px;
    text-align: left;
}

.user-info .role {
    position: relative;
    top: -6px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.profile-card {
    /* position: absolute; */
    margin: auto;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 1px 6px 30px var(--shadow);
    margin-bottom: 30px;
    
}

.user-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary);
    position: relative;
    margin: -35px 0px 13px 217px !important;
}

.user-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

::ng-deep .info_text {
    position: relative;
    top: -30px !important;
    margin: auto;
    text-transform: uppercase;
    font-size: 14px;
   font-family: 'Montserrat', Helvetica, sans-serif;
   text-align: center;
}

.profile-form {
    position: relative;
    top: 10px;
    margin: auto;
    padding: 10px;
}

.field-icon {
    color: #aaa;
}

.field-content {
    margin-left: 10px;
}

.signup-btn-container {
    text-align: center;
    /* margin-top: 20px; */
    padding: 5px;
}

.signup-btn {
    position: relative;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.forgot {
    float: right;
    color: var(--lite) !important;
    position: relative;
    top: 3px;
}

.signup-text {
    color: var(--primary);
    cursor: pointer;
}

.action-container {
    display: flow-root;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0px 1em 10px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em;
}

::ng-deep input.mat-input-element {
    position: relative;
    top: -3px;
}

@media only screen and (max-width: 600px) {
    .signup-card {
        width: 100% !important;
    }
}

@media only screen and (max-width: 960px) {
    .signup-card {
        width: 80%;
    }
}


/* img{
    height: 150px;
} */

body {
    height: 100vh;
    width: 100%;
}

.profile-pic-div {
    height: 190px;
    width: 186px;
    transform: translate(115%, -5%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid wheat;
    box-shadow: 0px 3px 6px var(--shadow);
}

#photo {
    height: 100%;
    width: 100%;
    border-radius: 76px;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: transparent;
    color: var(--white);
    line-height: 30px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
}
#uploadBtn:hover {
    height: 43px;
    width: 100%;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: transparent;
    color: var(--white);
    text-decoration: None !important; 
    line-height: 30px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
}
input{
   font-family: 'Montserrat', Helvetica, sans-serif;
}

.info_text {
    position: relative;
    top: 10px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}


.user-container {
    width: 170px;
    height: 165px;
    border-radius: 50%;
    background-color: var(--primary);
    position: relative;
    margin: auto;
}