.validate-card {
    position: fixed;
    margin: auto;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 6px 6px 33px var(--shadow);
}


.verification-card {
    position: fixed;
    margin: auto;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 6px 6px 33px var(--shadow);
}

.user-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary);
    position: relative;
    margin: auto;
}

.user-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.info_text {
    position: relative;
    /* top: 10px; */
    margin: auto;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.validate-form {
    position: relative;
    top: 20px;
    margin: auto;
    padding: 10px;
}

.verification-form {
    position: relative;
    top: 20px;
    margin: auto;
    padding: 10px;
}

.field-icon {
    color: #aaa;
}

.field-content {
    margin-left: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.validate-btn-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.validate-btn {
    position: relative;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    width: 200px;
    height: 50px;
}

.verification-btn-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.verification-btn {
    position: relative;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    width: 200px;
    height: 50px;
}

.forgot {
    float: right;
    color: var(--lite) !important;
    position: relative;
    top: 3px;
}

.validate-text {
    color: var(--primary);
    cursor: pointer;
}

.verification-text {
    color: var(--primary);
    cursor: pointer;
}

.action-container {
    display: flow-root;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0px 1em 10px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em;
}

::ng-deep input.mat-input-element {
    position: relative;
    top: -3px;
}

@media only screen and (max-width: 600px) {
    .validate-card {
        width: 100% !important;
    }

    .verification-card {
        width: 100% !important;
    }
}

@media only screen and (max-width: 960px) {
    .validate-card {
        width: 80%;
    }

    .verification-card {
        width: 80%;
    }
}

.profile-pic-div {
    height: 190px;
    width: 186px;
    transform: translate(115%, -5%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid wheat;
    box-shadow: 0px 3px 6px var(--shadow);
    margin-top: 25px;
    margin-left: -50px;
}