<mat-toolbar style="background-color: white;">
    <span class="app-logo">
        <!-- <span class="logo">
            Carnot
        </span> -->
    <img class="logo" style="width: 135px;height: 30px;" src="../../../../assets/images/Data See logo.png" routerLink="/app/home">
    </span>

</mat-toolbar>
<!-- <mat-card></mat-card> -->
<!-- <div class="project-container"><input>Please enter email id</div> -->


<form [formGroup]="loginForm">
    <mat-card class="login-card">
        <mat-card-content>
            <div class="user-container">
                <mat-icon class="user-icon">lock_open</mat-icon>
            </div>
            <div class="info_text">
                Account Recovery
            </div>

            <div class="login-form">

                <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label class="field-content"> Enter your UserName</mat-label>
                    <mat-icon matPrefix class="field-icon">mail</mat-icon>
                    <input matInput placeholder="datasee@gmail.com" style="font-family: 'Montserrat', Helvetica, sans-serif;" name="username" #username formControlName="username" required>

                </mat-form-field> -->

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label class="field-content"> Enter your registered email</mat-label>
                    <mat-icon matPrefix class="field-icon">mail</mat-icon>
                    <input matInput placeholder="xxxx@gmail.com" style="font-family: 'Montserrat', Helvetica, sans-serif;" name="mail" #mail formControlName="mail" required>

                </mat-form-field>
                <!-- 
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label class="field-content">Enter your password</mat-label>
                    <mat-icon matPrefix class="field-icon">vpn_key</mat-icon>
                    <input matInput [type]="hide ? 'password' : 'text'" style="font-family: 'Montserrat', Helvetica, sans-serif;" name="UserName" #Password formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="field-icon">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <-- <mat-error *ngIf="hasError('password', 'required')">
                        Password is required
                    </mat-error> --
                </mat-form-field> -->



            </div>

        </mat-card-content>

        <div class="login-btn-container">
            <button mat-button class="btn pl-5 pr-5 stepper-action-btn login-btn text-uppercase" style="font-family: 'Montserrat', Helvetica, sans-serif;" (click)="Resetpassword(mail.value)">Submit</button>
            <span class="signupbtn "><a (click)="gotologin()" style="color: var(--primary); font-family: 'Montserrat', Helvetica, sans-serif; cursor: pointer;">Back to Login page</a></span>
        </div>

    </mat-card>
</form>