<!-- <div class="row mt-4">
    <div class="col-sm-6">
        <mat-card class="anal-graphs">
            <mat-card-title>
                <div class="anal-graph-title">
                    <h3 class="page-titless">Power Loss Metrics</h3>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div id="chart1">
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [labels]="chartOptions1.labels" [title]="chartOptions1.title" [colors]="chartOptions1.colors" [responsive]="chartOptions1.responsive"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-6">
        <mat-card class="anal-graphs" style="height: 25.4rem;">
            <mat-card-title>
                <div class="anal-graph-title">
                    <h3 class="page-titless">Power Loss Metrics</h3>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [legend]="chartOptions.legend" [colors]="chartOptions.colors" [responsive]="chartOptions.responsive"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->

<!-- 
<div class="stats-info-container">

</div> -->