<div class="inverter">
    <h2 style="font-family: 'Montserrat', Helvetica, sans-serif;">Asset Comparison</h2>

    <div class="row" style="margin-top: 20px;">
        <div class="col-5">
            <div class="feature_type">
                <mat-card appearance="outlined" style="width:140px;background-color: white;padding: 0px;margin: 0px;">

                    <mat-select name="feature" [(ngModel)]="feature"
                        style="height: 30px;vertical-align: middle;padding-left: 5px;padding-top: 5px;text-align: center;font-family:  'Montserrat', Helvetica, sans-serif;font-size: 16px;"
                        (ngModelChange)="selectChangefeature(feature);" [disableOptionCentering]="true">
                        <mat-option *ngFor="let feature of inverter_keys;let k = index;" [value]="feature"
                            style="background-color: white;font-family:  'Montserrat', Helvetica, sans-serif;">
                            {{feature}}
                        </mat-option>

                    </mat-select>
                </mat-card>
            </div>
        </div>
        <div class="col-5">
            <div class="feature_type" id="inverter_deviation">
                <mat-card appearance="outlined" style="width:140px;background-color: white;padding: 0px;margin: 0px;">

                    <mat-select name="subfeature" [(ngModel)]="subfeature"
                        style="height: 30px;vertical-align: middle;padding-left: 5px;padding-top: 5px;text-align: center;font-family:  'Montserrat', Helvetica, sans-serif;font-size: 16px;"
                        (ngModelChange)="selectChangesubfeature(subfeature);" [disableOptionCentering]="true">
                        <mat-option *ngFor="let subfeature of inverter_group_keys;let k = index;" [value]="subfeature"
                            style="background-color: white;font-family:  'Montserrat', Helvetica, sans-serif;">
                            {{subfeature}}
                        </mat-option>

                    </mat-select>
                </mat-card>
            </div>
        </div>
        <div class="col-1">
            <div class="project_type">
                Chart <mat-slide-toggle [checked]="checked"
                    (toggleChange)="toggleChangeType(checked)">Table</mat-slide-toggle>
            </div>
        </div>
    </div>

    <div id="Chart" style="display: block;">
        <div id="chart" *ngIf="chartOptions">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"></apx-chart>
        </div>
    </div>
    <div id="Table" style="display: none;margin-top: 5px;">
        <table style="width: 57rem;margin-top: 25px;">
            <tr>
                <th class="col-3" style="text-align:left;">{{feature}}</th>
                <th class="col-3" style="text-align:left;">{{dateleft}}</th>
                <th class="col-3" style="text-align:left;">{{dateright}}</th>
                <th class="col-3" style="text-align:left;">Percentage Progress</th>
            </tr>
            <tr *ngFor="let feature of sub_feature_key; let b = index;">
                <td class="col-3" style="text-align:left;">{{feature}}</td>
                <td class="col-3" style="text-align:left;">{{date_left_feature_values[b]}}</td>
                <td class="col-3" style="text-align:left;">{{date_right_feature_values[b]}}</td>
                <td class="col-3" style="text-align:left;">{{percentage_progress[b]}}</td>
            </tr>
        </table>
    </div>


</div>